.container {
  min-width: 100vw;
  min-height: 100vh;
}

.header-container {
  position: relative;
  min-width: 100vw;
  background-color: #10161b;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 3%
}

.logo {
 display: inline-block;
 vertical-align: middle;
 height: 30px;
}

.logo-img {
  position: relative;
  object-position: center;
  object-fit: contain;
  height: 28px;
  width: 28px;
  bottom: 3.5px;
  right: 1px;
}

.header-left {
  display: inline-block;
  padding: 20px 0;
}

.first {
  display: inline-block;
  padding: 20px 0;
  padding-left: 10px;
}

a.left {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 20px 10px;
}