@font-face {
  font-family: Lato;
  src: url('./Lato/Lato-Regular.ttf')
}

.container {
  width: 100vw;
  height: 100vh;
}

.header-container {
  position: relative;
  /* width: 100vw; */
  background-color: #10161b;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 3%;
  font-family: Lato, sans-serif;
}

.logo {
 display: inline-block;
 vertical-align: middle;
 height: 30px;
}

.logo-img {
  position: relative;
  object-position: center;
  object-fit: contain;
  height: 28px;
  width: 28px;
  bottom: 3.5px;
  right: 1px;
}

.header-left {
  display: inline-block;
  padding: 20px 0;
}

.first {
  display: inline-block;
  padding: 20px 0;
  padding-left: 10px;
}

a.left {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 20px 10px;
  transition: color 0.4s;
}

a.left:hover {
  color: #00c0f3;
}

.right {
  float: right;
  padding: 20px 10px;
}

symbol {
  display: inline-block;
  background-image: url(https://www.ir.com/hubfs/user-white.png);
  width: 32px;
  height: 32px;
  color: white;
  z-index: 11;
}

.body-container {
  padding: 20px;
  margin: 10px;
}

.sys-det-container {
  display: inline-block;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.171);
}